.THIS .slds-button {
    width: 150px;
    background-color: #75a8e6;
    color: #ebedf0;
}

.THIS .slds-button:hover {
    background-color: #3580db;
}

.THIS.container {
  position: relative;
  padding: 10px 10px 10px 10px;
  background-color: #ebedf0;
  border-radius: 5px;
  margin: 0 5px 10px 5px;
  width: 180px;
  height: 225px;
  cursor: pointer;
}

.THIS .image {
  align: center;
  text-align: center;
  display: block;
  width: 100%;
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
  position:absolute;
}

.THIS .poster {
  position: relative;
  background-color: white;
  height: 110px;
  border-radius: 5px;
}

.THIS .overlay {
  padding: 0px 5px 0px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ebedf0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.THIS.container:hover .overlay {
  height: 80%;
}

.THIS .productLabel {
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0px 5px 0px;
    font-size: 17px;
    font-weight: bold;
}

.THIS .overlayLabel {
    height: 55px;
    padding: 5px 5px 0px 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.THIS .price {
    text-align: center;
    color : red;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.THIS .dashDay {
    font-size: 12px;
    color: black;
    font-weight: normal;
}

.THIS .overlayPrice {
    text-align: center;
    color : red;
    font-size: 20px;
    font-weight: bold;
}

.THIS .buttonOrder {
    padding-top: 10px;
    text-align: center;
}

.THIS .detailItem {
    padding: 5px 0px 0px 5px;
    font-weight: bold;
}

.THIS .daysInput .slds-input {
    min-height: 1rem;
    height:1rem;
    margin-bottom: 20px;
    text-align: center;
    width: 50px;
    padding: 0;
}

.THIS .daysInput {
    height:40px;
}

.THIS .daysButton {
    height : 1rem;
    border: 0;
    background-color: #ebedf0;
}

.THIS .daysButton:focus {
     outline-color: transparent;
     border: 0 !important;
}

.THIS .daysButton:hover {
     outline-color: transparent;
     border: 0 !important;
}

.THIS .buttonsSection {
    padding: 0 !important;
    height: 20px;
}

.THIS input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.THIS input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}