.THIS.mainPanel {
    padding: 10px 5px 10px 5px;
    border: 2px solid #ebedf0;
    border-radius: 15px;
    margin: 0 5px 10px 5px;
    width: 240px;
    height: 330px;
    cursor: pointer;
    box-shadow: 5px 5px 10px;
}

.THIS.mainPanel:hover {
    background-color: #ebedf0;
}

.THIS .imagePanel {
    vertical-align: middle;
    height: 160px;
    text-align: center;
    position: relative;
}

.THIS .poster {
    height: auto;
    width : 200px;
    border-radius: 15px;
}

.THIS .rightPanel {
    text-align: left;
    padding-left: 10px;
    padding-top: 0;
    border-left : 0;
}

.THIS .productLabel {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.THIS .detailPanel {
    height: 60px;
    padding-left : 10px;
    color: black;
}

.THIS .price {
    text-align: center;
    color : red;
    font-size: 20px;
}

.THIS .noPrice {
    text-align: center;
    color : black;
    font-size: 20px;
}

.THIS .buttonOrder {
    text-align: center;
}

.THIS .slds-button {
    width: 150px;
    border: 2px solid red;
    background-color: orange;
    color: red;
    box-shadow: 2px 2px 5px;
}

.THIS .slds-button:hover {
    background-color: darkorange;
    box-shadow: 5px 5px 10px;
}