.THIS .slds-input__icon {
   margin-top: -.8rem;
   padding-right: 1rem;
}

.THIS .basket svg {
    fill: #ebedf0;
    height: 40px;
}

.THIS .modalContent {
    border: 1px solid lightgray;
    padding: 10px;
    position: relative;
    width: 600px;
    transform: translate(-50%, 0);
    background-color: #ebedf0;
    border-radius: 10px;
}
