.THIS.card {
    padding: 0 20px 20px 20px;
}

.THIS .pricebookList {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.THIS .listHeader {
    font-size: 15px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.THIS .listItem {
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.THIS .selectedListItem {
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    background-color: lightblue;
    border-radius: 5px;
}

.THIS .listItem:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.THIS .productName {
    cursor: pointer;
    margin-right: 10px;
}

.THIS .productName:hover {
    font-weight: bold;
    color: darkblue;
}

.THIS .listButton {
    float: left;
}

.THIS .current {
    border: 2px solid green;
    border-radius: 5px;
}

.THIS .deActive {
    border: 2px solid red;
    border-radius: 5px;
}
