.THIS .customButton {
    background-color: darkgray;
    color: white;
}

.THIS.card {
     padding-left: 30px;
     padding-right: 30px;
     background-color: lightgray;
}

.THIS .headerName .slds-form-element__static {
    font-size: 30px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.THIS .poster {
    width : 400px;
}

.THIS .details {
    padding-left: 20px;
}

.THIS .detailHeader {
    font-size: 20px;
}

.THIS .sectionDetails {
    border-top : 2px solid black;
    border-bottom : 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.THIS .sectionImages {
    border-bottom : 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.THIS .detailItem {
    float:left;
    font-size: 15px;
    margin-left: 15px;
    color : gray;
}

.THIS .detailItem .slds-form-element__static {
    font-size: 15px;
    font-weight: bold;
}

.THIS .images {
    margin-left: 10px;
    margin-right: 10px;
}