.THIS.card {
    /*padding-top: 50px;*/
    padding-right: 30px;
    text-align:center;
    border: 0 !important;
}

.THIS .mainPanel {
    font-size: 20px;
}

.THIS .detailHeader {
    font-size: 20px;
}

.THIS .image {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.THIS .orderButton {
    padding-top: 20px;
}

.THIS .priceLabel {
    padding-top: 10px;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
}

.THIS .price {
    padding-top: 10px;
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.THIS .perDay {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.THIS .noAvailable {
    font-size: 20px;
    font-weight: bold;
}

.THIS .noImage {
    max-width: 200px;
    max-height: 300px;
}

.THIS .customButton {
    padding: 0 0 3px 0;
    width: 300px;
    background-color: orange;
    color: red;
    border: 1px solid darkorange;
}

.THIS .customButton:hover {
    background-color: darkorange;
}

.THIS .totalPrice {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.THIS .red svg {
    fill: red;
    padding-right: 5px;
}

.THIS .slds-input {
    text-align: center;
}

.THIS input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.THIS input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}