.THIS.card {
    padding-right: 30px;
    text-align:center;
    border: 0 !important;
}

.THIS .mainPanel {
    font-size: 20px;
}

.THIS .detailHeader {
    font-size: 20px;
}

.THIS .image {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.THIS .orderButton {
    padding-top: 20px;
}

.THIS .priceLabel {
    padding-top: 10px;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
}

.THIS .price {
    padding-top: 10px;
    color: red;
    font-size: 40px;
    font-weight: bold;
}

.THIS .noAvailable {
    font-size: 20px;
    font-weight: bold;
}

.THIS .noImage {
    max-width: 200px;
    max-height: 300px;
}

.THIS .slds-button {
    width: 300px;
    background-color: orange;
    color: red;
    box-shadow: 2px 2px 5px;
}

.THIS .slds-button:hover {
    background-color: darkorange;
    box-shadow: 5px 5px 10px;
}

.THIS .red svg {
    fill: red;
}