.THIS.mainPanel {
    padding: 10px 10px 10px 5px;
    background-color: #ebedf0;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    border: 5px solid #ebedf0;
}

.THIS.mainPanel:hover {
    border: 5px solid #d5dae0;
    background-color: #d5dae0;
}

.THIS .leftPanel {
    vertical-align: middle;
    height: auto;
    width: 270px;
    text-align: center;
    border-right: 2px solid #ebedf0;
}

.THIS .poster {
    height: auto;
    width : 200px;
    border-radius: 5px;
}

.THIS .rightPanel {
    text-align: left;
    padding-left: 10px;
    padding-top: 0;
    border : 0 !important;
}

.THIS .productLabel {
    font-size: 15px;
    font-weight: bold;
}

.THIS .detailItem {
    float: left;
    padding: 0 15px 0 0 !important;
    color: black;
    margin: 0 !important;
}

.THIS .price {
    padding-left : 20px;
    color : red;
    font-size: 20px;
    font-weight: bold;
}

.THIS .noAvailable {
    color : black;
    font-size: 15px;
    font-weight: bold;
}

.THIS .dashDay {
    font-size: 12px;
    color: black;
}

.THIS .customButton {
    width: 150px;
    background-color: #75a8e6;
    color: red;
    font-size: 12px;
    color: #ebedf0;
}

.THIS .customButton:hover {
   background-color: #3580db;
}

.THIS .daysInput .slds-input {
    min-height: 1rem;
    height:1rem;
    text-align: center;
    width: 50px;
    padding: 0;
}

.THIS .orderPanel {
    position: relative;
}

.THIS .daysButton {
     height : 1rem;
     border: 0;
}

.THIS .slds-button:focus {
     outline-color: transparent;
     box-shadow: 0 0px 0px rgba(0, 0, 0, 0.7), 0 0px 0 rgba(0, 0, 0, 0.3);
}

.THIS .slds-button:hover {
     outline-color: transparent;
     box-shadow: 0 0px 0px rgba(0, 0, 0, 0.7), 0 0px 0 rgba(0, 0, 0, 0.3);
}

.THIS .orderSection {
    position:absolute;
    bottom: 0;
    right: 0;
    text-align: center;
}

.THIS .overlayPrice {
    text-align: center;
    color : red;
    font-size: 15px;
}

.THIS input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.THIS input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}