.THIS .mainPanel {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 15px;
    margin-bottom: 10px;
    height : 150px;
}

.THIS .leftPanel {
    text-align: left;
    padding-right: 10px;
    border-right: 2px solid gray;
}

.THIS .rightPanel {
    text-align: left;
    padding-left: 10px;
}

.THIS .buttonItem {

}
.THIS .detailItem {
    margin: 0px;
    padding: 0px;
}