.THIS.mainPanel {
}

.THIS .leftPanel {
    padding : 10px 20px 10px 10px;
}

.THIS .rightPanel {
    padding: 10px;
    border-left: 1px solid gray;
}

.THIS .panelLabel {
    font-size: 20px;
    padding-bottom: 15px;
}

.THIS .resultList {
    padding: 15px;
}

.THIS .filterButton {
    text-align: center;
    padding-top: 15px;
}

.THIS .filterItem {
   margin-bottom: 10px;
}

.THIS .filterPrice {
   width:50%;
   float:left;
}

.THIS .searchQuery {
   font-weight: bold;
   padding-left: 10px;
}

.THIS input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.THIS input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

