.THIS.mainPanel {
}

.THIS .leftPanel {
    padding : 10px 20px 10px 10px;
}

.THIS .rightPanel {
    padding: 10px;
    border-left: 1px solid gray;
}

.THIS .panelLabel {
    font-size: 20px;
    padding-bottom: 15px;
}

.THIS .resultList {
    padding: 15px;
}

.THIS .filterButton {
    text-align: center;
    padding-top: 15px;
}

.THIS .filterItem {
   margin-bottom: 10px;
}
